.banner{
    display: flex;
    margin: 3rem auto;
    padding-inline: 3rem;
    max-width: 1200px;
    justify-content: space-between;
}
.banner > img{
    max-width: max(50%, 450px);
}

.banner__wrapper{
    display: grid;
    gap: 1rem;
    justify-items: center;
    align-content: center;
    font-family: var(--ff-inter);
    font-size: var(--fs-21);
    max-width: 450px;
    text-align: center;
}
.banner__wrapper > h1{
    font-size: var(--fs-50);
    font-weight: 500;
    text-transform: uppercase;
}

.main{
    margin: 0 3rem;
    padding: 3rem 1rem;
    background-color: var(--clr-neutral-white);
    border-radius: 2rem;
    display: grid;
    gap: 3rem;
}

.promo{
    background-color: var(--clr-primary);
    max-width: 1000px;
    padding: 3rem;
    border-radius: 1rem;
    margin-inline: auto;
}

.triple__heading{
    font-family: var(--ff-inter);
    font-weight: 500;
    font-size: var(--fs-21);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.triple__wrapper{
    display: flex;
    gap: 3rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.triple__content{
    max-width: 250px;
    border-radius: 1rem;
    background-color: var(--clr-neutral-gray-200);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding-bottom: 1rem;
}
.triple__content > img{
    object-fit: cover;
}
.triple__content > *:not(img){
    margin: 0rem 1rem;
}

.contact{
    display: flex;
    background-color: var(--clr-primary);
    font-family: var(--ff-inter);
    font-size: var(--fs-21);
    font-weight: 500;
    gap: 3rem;
    max-width: 1000px;
    margin-inline: auto;
    padding: 1rem;
    border-radius: 1rem;
}
.contact__wrapper{
    flex-grow: 1;
    text-align: center;
    display: grid;
    place-content: center;
    justify-items: center;
}
.contact__wrapper > a{
    margin-top: 1rem;
}

@media(max-width: 1000px){
    .banner{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    
}