:root {
    /* Colour */
    --clr-gradient: linear-gradient(180deg, hsl(191, 100%, 90%) 0%, hsl(191, 100%, 90%, .75) 50%, hsl(191, 100%, 90%, .50) 100%);
    --clr-primary: hsl(191, 100%, 90%);
    --clr-accent: hsl(191, 100%, 50%);
    --clr-neutral-gray: hsl(0, 0%, 62%);
    --clr-neutral-gray-200: hsl(0, 0%, 93%);
    --clr-neutral-white: hsl(0, 0%, 100%);

    /* Font family */
    --ff-inter : 'Inter', sans-serif;
    --ff-open-sans : 'Open Sans', sans-serif;
    --ff-zen-kaku : 'Zen Kaku Gothic Antique', sans-serif;

    /* Font Size */
    --fs-50: 3.125rem;
    --fs-28: 1.75rem;
    --fs-21: 1.313rem;
    --fs-16: 1rem;

    /* Font weight */
}

/* #region CSS RESET  */
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
/* #endregion CSS RESET  */

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: var(--clr-gradient);
    font-family: var(--ff-zen-kaku);
    font-size: var(--fs-16);    
}

.btn--details{
    background-color: var(--clr-neutral-gray);
    color: var(--clr-neutral-white);
    font-family: var(--ff-open-sans);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    padding: .5rem 1rem;
    border-radius: 100vmax;
    transition: background-color 300ms ease;
}
.btn--details:hover{
    background-color: var(--clr-accent);
}

.btn--nav{
    font-size: var(--fs-21);
    font-family: var(--ff-open-sans);
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    transition: color 300ms ease;    
}
.btn--nav:hover{
    color: var(--clr-accent);
}

.logo{
    max-width: 7rem;
    padding-inline: 1rem;
}

.navbar{
    display: flex;
    align-items: center;
    background-color: var(--clr-neutral-white);
    font-family: var(--ff-open-sans);
    font-size: var(--fs-21);
    font-weight: 600;
}

.nav__profile{
    padding-inline: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav__list{
    display: flex;
    flex-grow: 1;
    
}
.nav__list,
.nav__dropdown{
    padding: 0;
    list-style: none;
}
.nav__list a,
.nav__dropdown a{
    text-decoration: none;
    color: inherit;
    padding: 2rem 1rem;
    display: block;
    background-color: var(--clr-neutral-white);
    transition: color 300ms ease;
}
.nav__list a:hover,
.nav__dropdown a:hover{
    color: var(--clr-accent);
}

.nav__dropdown--bar{
    position: relative;
}
.nav__dropdown--link{
    display: flex;
    gap: 1rem;
}
.nav__dropdown--link >img{
    object-fit: contain;
    margin-right: 1rem;
}
.nav__dropdown{
    position: absolute;
}

.nav__dropdown[data-hidden="true"]{
    display: none;
}
